@import "../../styles/animations";
@import "../../styles/variables";

.loader {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    background-color: rgba(30, 30, 30, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__animation {
    width: 10vw;
    height: 10vw;
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-top-color: $base-pink;
    border-left-color: transparent;
    border-bottom-color: $base-yellow;
    border-right-color: transparent;
    animation: loader-rotate 3s linear infinite;
  }
}
