@import "../styles/_variables";

body {
  background-color: $base-background;
  color: $base-font-color;
  font-family: $busy-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
a,
button,
input {
  font-family: $clean-font-family;
}
