// Design system Sabrina properties

/* ------  COLORS ------ */
$base-pink: #d34999;
$base-yellow: #ecbe53;
$base-blue: #4357ad;
$base-green: #48a9a6;
$base-grey: #969696;
$base-font-color: #251605;
$base-background: #fff;

/* ------  TYPOGRAPHY ------ */
$busy-font-family: Georgia, Times, "Times New Roman", serif;
$clean-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
  "Lucida Sans", Tahoma, sans-serif;
$code-font-family: "Lucida Console", "Lucida Sans Typewriter", monospace;

/* ------  SPACES ------ */
$base-radius: 2px;

$input-height: 3rem;
$input-padding: 0 8px;
$input-margin: 1rem 0;
